/* Navbar */

.App {
  margin: 1vh;
}

.nav-link {
  font-size: large;
  font-weight: 400;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-logo {
  opacity: 50%;
}

.image-container {
  display: flex;
}
.image-style {
  opacity: 70%;
  width: 50%;
  height: 50%;
  margin: 1vh;
}

.paragraph{
  text-align: left;
  font-size: larger;
  margin: 2vh;
}

.text-container {
  margin: 2rem;
}


.main-heading{
  font-size: xx-large;
  font-weight: 600;
  margin: 1vh;
}

.sub-heading{
  margin: 1vh;
  font-size: x-large;
}

.list-unstyled {
  margin: 2vh;
  font-size: larger;
}

.multi-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.image-container{
 background-image: url("imaging.jpg");
 opacity: 0.5;
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.contact-form {
  width: 50%;
  padding: 1rem;
}

.contact-form label {
  font-size: larger;
  font: bold;
  margin-bottom: 0.5rem;
}

.contact-form input, textarea {
  margin-left: 0.5rem;
}

.form-container {
  width: 100%;
  text-align: left;
}


.form-heading {
  font-weight: 500;
  font-size: x-large;
  margin: 1rem;
}

.btn-primary {
  margin-top: 1rem;
}

.address-title {
  font-size: xx-large;
  padding: 2rem;
  margin-top: 1rem;
}

.address-heading {
  font-weight: 500;
  font-size: x-large;
  margin: 1rem;
}

.address-text {
  font-size: large;
  padding: 0rem;
  margin: 0.2rem;
  margin-left: 2rem;
}

.google-maps {
  text-align: center;
}

.google-maps-heading {
  margin: 1rem;
  margin-left: 0;
  font-weight: 500;
  font-size: x-large;
  text-align: left;
}

.social-media {
  font-size: xx-large;
  margin-left: 2rem;
  text-align: right;
}

.social-media a {
  padding: 0.5rem;
}

.table {
  margin: 2rem;
  width: 90%;
}

.card-container  {
  display: block;
}

.space-around {
  justify-content: space-around;
}
.space-between {  
  justify-content: space-between;
}

.quote-container {
  font-size: x-small;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.social-media-icons {
  vertical-align: bottom;
}

.flex-wrapper {
  display: flex;
  min-height: 10vh;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  margin: 1vh;
}

.customer-list {
  margin: 2vh;
  font-size: larger;
}

.hospital-icon {
  font-size: xx-large;
  padding: 1vh;
}

.caption-text {
  text-align: center;
}

.portfolio {
  background: rgb(2,0,36);
  background: linear-gradient(167deg, rgba(2,0,36,1) 0%, rgba(9,70,121,1) 1%, rgba(0,212,255,1) 100%);
  font-family: sans-serif;
  font-size: x-large;
  font-weight: 400;
  line-height: 200%;
  color: white;
  display: flex;
}

.list-title {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 600;
}
