/* Navbar */

html, body {
  height: 100%;
  width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
  flex-grow: 1;
}

.nav-link {
  font-family: sans-serif;
  font-size: x-large;
  font-variant: small-caps;
  font-weight: 400;
}

.dropdown-item {
  font-family: sans-serif;
  font-size: large;
  font-variant: small-caps;
  font-weight: 400;
}

.navbar-collapse {
  justify-content: center;
}

.navbar {
  padding: 1vh;
}

.image-container {
  display: flex;
}
.image-style {
  opacity: 70%;
  width: 50%;
  height: 50%;
  margin: 1vh;
}

.paragraph{
  text-align: left;
  font-size: larger;
  font-weight: 500;
  margin-left: 2vh;
  margin-bottom: 0%;
}

.text-container {
  margin: 2rem;
}


.main-heading{
  font-size: xx-large;
  font-weight: 600;
  margin: 1vh;
}

.sub-heading{
  margin: 1vh;
  font-size: x-large;
}

.list-unstyled {
  margin: 2vh;
  font-size: larger;
}

.multi-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.image-container{
 opacity: 0.5;
}

.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}

.contact-form {
  width: 50%;
  padding: 1rem;
}

.contact-form label {
  font-size: larger;
  font: bold;
  margin-bottom: 0.5rem;
}

.contact-form input, textarea {
  margin-left: 0.5rem;
}

.form-container {
  width: 100%;
  text-align: left;
}


.form-heading {
  font-weight: 500;
  font-size: x-large;
  margin: 1rem;
}

.btn-primary {
  margin-top: 1rem;
}

.address-title {
  font-size: xx-large;
  padding: 2rem;
  margin-top: 1rem;
}

.address-heading {
  font-weight: 500;
  font-size: x-large;
  margin: 1rem;
}

.address-text {
  font-size: large;
  padding: 0rem;
  margin: 0.2rem;
  margin-left: 2rem;
}

.google-maps {
  text-align: center;
}

.google-maps-heading {
  margin: 1rem;
  margin-left: 0;
  font-weight: 500;
  font-size: x-large;
  text-align: left;
}

.social-media {
  font-size: xx-large;
  margin-left: 2rem;
  text-align: left;
}

.social-media a {
  padding: 0.5rem;
}

.table {
  margin: 2rem;
  width: 90%;
}

.card-container  {
  display: block;
}

.space-around {
  justify-content: space-around;
}
.space-between {  
  justify-content: space-between;
}

.quote-container {
  font-size: x-small;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.social-media-icons {
  vertical-align: bottom;
}

.flex-wrapper {
  display: flex;
  min-height: 10vh;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  margin: 1vh;
}

.customer-list {
  margin: 2vh;
  font-size: x-large;
  align-items: baseline;
}

.hospital-icon {
  font-size: x-large;
  margin: 2vh;
}

.caption-text {
  text-align: center;
}

.portfolio {
  display: flex;
  background: rgb(174,202,238);
  background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(255,255,255,1) 100%);
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 400;
  line-height: 150%;
  color: black;
  justify-content: space-evenly;
}

.list-title {
  font-family: sans-serif;
  font-size: xx-large;
  font-weight: 600;
}

* {margin: 0; padding: 0;}

/* .stylized-list {
  margin: 10px;
} */

.stylized-list-ul {
 list-style-type: none;
 width: 40vh;
 font-size: x-large;
 font-family: sans-serif;
 font-weight: 600;
 padding-top: 5px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.stylized-list-li {
  padding-left: 15px;
}

.uc-message {
  margin: 20px;
}

.page-footer {
  background: rgb(174,202,238);
  background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(255,255,255,1) 100%);
  text-align: center;
}
.footer-image{
  display: flex;
  justify-content: space-evenly;
}

.welcome-text {
  background: rgb(174,202,238);
background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(255,255,255,1) 100%);
}

hr  {
  margin: 0;
  border: 0;
  height:5px;
  background: #333; /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#34495e), color-stop(10%,#34495e), color-stop(10%,#207cca), color-stop(24%,#2989d8), color-stop(24%,#34495e), color-stop(42%,#34495e), color-stop(42%,#207cca), color-stop(70%,#207cca), color-stop(70%,#207cca), color-stop(70%,#34495e), color-stop(100%,#34495e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #34495e 0%,#34495e 10%,#207cca 10%,#2989d8 24%,#34495e 24%,#34495e 42%,#207cca 42%,#207cca 70%,#207cca 70%,#34495e 70%,#34495e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -moz-linear-gradient(left, #34495e 0%, #34495e 9%, #207cca 10%, #2989d8 24%, #34495e 24%, #34495e 42%, #207cca 42%, #207cca 70%, #207cca 70%, #34495e 71%, #34495e 100%);
  background-image: -o-linear-gradient(left, #34495e 0%, #34495e 9%, #207cca 10%, #2989d8 24%, #34495e 24%, #34495e 42%, #207cca 42%, #207cca 70%, #207cca 70%, #34495e 71%, #34495e 100%);
  background-image: linear-gradient(left, #34495e 0%, #34495e 9%, #207cca 10%, #2989d8 24%, #34495e 24%, #34495e 42%, #207cca 42%, #207cca 70%, #207cca 70%, #34495e 71%, #34495e 100%); /* Chrome10+,Safari5.1+ */   
}

.bg-color {
  background: rgb(174,202,238);
  background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(255,255,255,1) 100%);
}